body {
margin:0;
font-family:'Poppins',
sans-serif;
background:#0d0d0d;
color:#fff;
}

/* Simple Select Dropdown Style */
.tea-select select {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: #111;
  color: #FFD700;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: border 0.3s, background-color 0.3s;
}

.tea-select select:hover {
  border-color: #FFD700;
  background-color: #1a1a1a;
}

.tea-select select:focus {
  outline: none;
  border-color: #FFD700;
}


.dashboard-container {
display:flex;
height:100vh;
}

.sidebar {
  width:220px;
  background:#1a1a1a;
  padding:20px;
  display:flex;
  flex-direction:column;
}
.sidebar .logo {
font-size:2em;
margin-bottom:30px;
color:#FFD700;
text-align:center;
}

.sidebar ul {
list-style:none;
padding:0;
}

.sidebar ul li {
margin:15px 0;
}

.sidebar ul li a {
color:#fff;
text-decoration:none;
transition:0.3s;
}

.sidebar ul li a:hover {
color:#FFD700;
}

main {
flex:1;
padding:40px;
overflow-y:auto;
}

.cards {
display:flex;
gap:20px;
margin-bottom:40px;
}

.card {
background:#1a1a1a;
padding:20px;
border-radius:15px;
flex:1;
text-align:center;
box-shadow:0 0 20px #FFD700;
transition:0.3s;
}

.card:hover {
transform:translateY(-5px);
}

.chart-container {
background:#1a1a1a;
padding:20px;
border-radius:15px;
box-shadow:0 0 20px #FFD700;
}

.card p{
color : #FFD700;
}
